@charset "UTF-8";

body {
    background-color: rgb(44, 44, 245);
    font: normal 15pt arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.482);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

.tamanho {
    border-radius: 50%;
    width: 250px;
}

